/* MONNORL DS4 MINIMAL TEST - SAFE */

/* Force base controller image */
.controller.ds4, .ds4 {
  background: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_base.png") no-repeat !important;
  width: 806px !important;
  height: 598px !important;
  position: relative !important;
}

/* Ensure elements aren't hidden */
.ds4.disconnected, .ds4.disconnected div {
  display: block !important;
}

/* Show pressed overlays only (so we can confirm sprites load) */
.ds4 .trigger { background: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_triggers.png") no-repeat !important; opacity: 0; }
.ds4 .trigger.pressed { opacity: 1; }
.ds4 .trigger.right { background-position-x: 99px; }

.ds4 .bumper { background: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_bumper.png") no-repeat !important; opacity: 0; }
.ds4 .bumper.pressed { opacity: 1; }
.ds4 .bumper.right { transform: rotateY(180deg); }

.ds4 .back, .ds4 .start { background: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_start.png") no-repeat !important; opacity: 0; width: 28px; height: 46px; }
.ds4 .start { background-position-x: 28px; }
.ds4 .back.pressed, .ds4 .start.pressed { opacity: 1; }

.ds4 .button { background: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_face.png") no-repeat !important; width: 55px; height: 55px; }
.ds4 .button.pressed { background-position-y: 55px; }

.ds4 .stick { background: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_sticks.png") no-repeat !important; width: 94px; height: 94px; }
.ds4 .stick.pressed.left { background-position-x: -96px; }
.ds4 .stick.pressed.right { background-position-x: -192px; }

.ds4 .face { background: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_dpad.png") no-repeat !important; }
.ds4 .face.pressed { background-position-y: 52px; }
