/* ===== MONNORL PS4 GAMEPAD VIEWER (FINAL FINAL) ===== */

/* Hide GPV 2 preview controller */
.preview,
.preview-controller,
.gpv2-preview,
.controller.preview {
  display: none !important;
}

/* Base controller */
.controller.ds4 {
  background: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_base.png") no-repeat !important;
  background-position: center -18px !important;
  width: 806px;
  height: 598px;
}

/* Prevent disconnected state from hiding parts */
.ds4.disconnected {
  background: none !important;
}
.ds4.disconnected div {
  display: block !important;
}

/* Use MonnoRL sprites */
.ds4 .trigger {
  background-image: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_triggers.png") !important;
}

.ds4 .bumper {
  background-image: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_bumper.png") !important;
}

.ds4 .back,
.ds4 .start {
  background-image: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_start.png") !important;
}

.ds4 .button {
  background-image: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_face.png") !important;
}

.ds4 .stick {
  background-image: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_sticks.png") !important;
}

.ds4 .face {
  background-image: url("https://jacibdanthony2007.github.io/ps4-assets/monnorl_dpad.png") !important;
}

/* Clean look */
.ds4 .touchpad.pressed,
.ds4 .meta.pressed {
  background: none !important;
}
