/* ===== MONNORL PS4 GAMEPAD VIEWER SKIN ===== */

.controller.ds4 {
  background: url(https://jacibdanthony2007.github.io/ps4-assets/monnorl_base.png);
  height: 598px;
  width: 806px;
}

.ds4.disconnected {
  background: none;
}

.ds4.disconnected div {
  display: none;
}

/* Triggers */
.ds4 .triggers {
  width: 588px;
  height: 90px;
  position: absolute;
  left: 109px;
}

.ds4 .trigger {
  width: 99px;
  height: 100%;
  background: url(https://jacibdanthony2007.github.io/ps4-assets/monnorl_triggers.png);
  opacity: 0;
}

.ds4 .trigger.left {
  float: left;
}

.ds4 .trigger.right {
  float: right;
  background-position-x: 99px;
}

.ds4 .trigger.pressed {
  opacity: 1;
}

/* Bumpers */
.ds4 .bumpers {
  position: absolute;
  width: 588px;
  height: 23px;
  left: 109px;
  top: 94px;
}

.ds4 .bumper {
  width: 99px;
  height: 23px;
  background: url(https://jacibdanthony2007.github.io/ps4-assets/monnorl_bumper.png) no-repeat;
  opacity: 0;
}

.ds4 .bumper.left {
  float: left;
}

.ds4 .bumper.right {
  float: right;
  transform: rotateY(180deg);
}

.ds4 .bumper.pressed {
  opacity: 1;
}

/* Start / Back */
.ds4 .arrows {
  position: absolute;
  width: 352px;
  height: 46px;
  top: 142px;
  left: 227px;
}

.ds4 .back,
.ds4 .start {
  background: url(https://jacibdanthony2007.github.io/ps4-assets/monnorl_start.png);
  width: 28px;
  height: 46px;
  opacity: 0;
}

.ds4 .start {
  float: right;
  background-position-x: 28px;
}

.ds4 .back {
  float: left;
}

.ds4 .back.pressed,
.ds4 .start.pressed {
  opacity: 1;
}

/* Face Buttons */
.ds4 .abxy {
  position: absolute;
  width: 170px;
  height: 171px;
  top: 159px;
  left: 567px;
}

.ds4 .button {
  position: absolute;
  width: 55px;
  height: 55px;
  background: url(https://jacibdanthony2007.github.io/ps4-assets/monnorl_face.png);
}

.ds4 .button.pressed {
  background-position-y: 55px;
}

.ds4 .a {
  bottom: 0;
  left: 58px;
}

.ds4 .b {
  top: 58px;
  right: 0;
  background-position-x: -57px;
}

.ds4 .x {
  top: 58px;
  background-position-x: -113px;
}

.ds4 .y {
  left: 58px;
  background-position-x: 55px;
}

/* Sticks */
.ds4 .sticks {
  position: absolute;
  width: 361px;
  height: 105px;
  top: 308px;
  left: 228px;
}

.ds4 .stick {
  position: absolute;
  background: url(https://jacibdanthony2007.github.io/ps4-assets/monnorl_sticks.png);
  height: 94px;
  width: 94px;
}

.ds4 .stick.left {
  top: 0;
  left: 0;
}

.ds4 .stick.right {
  top: calc(100% - 105px);
  left: calc(100% - 105px);
}

.ds4 .stick.pressed.left {
  background-position-x: -96px;
}

.ds4 .stick.pressed.right {
  background-position-x: -192px;
}

/* D-Pad */
.ds4 .dpad {
  position: absolute;
  width: 125px;
  height: 126px;
  top: 181px;
  left: 92px;
}

.ds4 .face {
  background: url(https://jacibdanthony2007.github.io/ps4-assets/monnorl_dpad.png);
  position: absolute;
}

.ds4 .face.up,
.ds4 .face.down {
  width: 36px;
  height: 52px;
}

.ds4 .face.left,
.ds4 .face.right {
  width: 52px;
  height: 36px;
}

.ds4 .face.up {
  left: 44px;
  top: 0;
  background-position-x: -37px;
}

.ds4 .face.down {
  left: 44px;
  bottom: 0;
}

.ds4 .face.left {
  top: 45px;
  left: 0;
  background-position-x: 104px;
}

.ds4 .face.right {
  top: 45px;
  right: 0;
  background-position-x: 52px;
}

.ds4 .face.pressed {
  background-position-y: 52px;
}

/* ===== END MONNORL SKIN ===== */
