/*BEGIN PS4 Controller Styling*/
.controller.ds4 {
  background: url(modbase.png);
  height: 598px;
  width: 806px;
  /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds4 .trigger {
  width: 99px;
  height: 100%;
  background: url(modtriggers.png);
  opacity: 0;
}

.ds4 .bumper {
  width: 99px;
  height: 23px;
  background: url(modbumper.png) no-repeat;
  opacity: 0;
}

.ds4 .back,
.ds4 .start {
  background: url(modstart.png);
  width: 28px;
  height: 46px;
  opacity: 0;
}

.ds4 .stick {
  position: absolute;
  background: url(modsticks.png);
  height: 94px;
  width: 94px;
}

.ds4 .face {
  background: url(moddpad.png);
  position: absolute;
}
